/* .stud {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: palevioletred;
    font-size: xx-large;
}

.container {
    border: 2px solid black;
    height:500px;
    width:500px;
    margin:100px 200px 100px 200px;
    background-color:beige;
    padding:20px;
    color:rgba(107, 47, 47, 0.847);
} */
.signup-container {
    height: 100vh;
    background-color: rgb(193, 161, 120);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup {

    border: none;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
    gap: 25px;
    box-shadow: 50px 50px 100px rgb(77, 58, 35);
    border-radius: 20px;
    background-image: url(./assets/signup.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
    backdrop-filter: blur(100px);
}

.data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.but {
    display: flex;
    width: 100%;
    justify-content: center;
    color: azure;
}

.data input {
    border:2px solid rgb(66, 43, 43);
    height: 25px;
}

.data label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}



body {
    margin: 0;
    padding: 0;
}


.head-container {
    display: flex;
    background-color: bisque;
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    align-items: center;
}

.logo {}

.logo-image {
    height: 75px;
    width: 75px;
    object-fit: contain;
}

.head-items {
    background-color: bisque;
    display: flex;
    gap: 25px;
}

.head-items li {
    list-style: none;
    font-size: 20px;
}

.login{
    border: none;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 231, 243);
    gap: 20px;
    box-shadow: 50px 50px 100px rgb(70, 3, 69);
    border-radius: 5px;
}

.login-container{
    background-color: rgb(195, 181, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-image: url(./assets/login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
}

.home-content{
    border:1px solid;
    display:block;
    text-align: justify;
    background-color: rgb(237, 233, 227);
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: self-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.images{
    background-color: rgb(195, 181, 209);
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
}
.img-alter{
    height: 200px;
    width:200px;
    object-fit:contain;
}