.head-container {
    display: flex;
    background-color: black;
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    align-items: center;
    position: static;
}

.logo {}

.logo-image {
    height: 75px;
    width: 75px;
    object-fit: contain;
}

.head-items {
    background-color: black;
    display: flex;
    gap: 25px;
}

.head-items li {
    list-style: none;
    font-size: 20px;
}

.head-items a {
    text-decoration: none;
    color: wheat;
    letter-spacing: 0.3rem;
    transition: 5s;
}

.head-items a :hover {
    color: white;
    letter-spacing: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

.vi-bg {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

.content,
#home {
    color: white;
    z-index: 10;
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 3s;
}

.content h1:hover {
    transform: scale(1.5);
    transition-duration: 3s;
}

.images {
    height: 200px;
    width: 200px;
    object-fit: contain;
    transition-duration: 3s;
}

#about {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
}

.images:hover {
    transform: scale(-1.2);
}

#contact {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-con {
    background-color: wheat;
    color: black;
    transition-duration: 3s;
    border: none;
    border-radius: 10px;
}

.button-con:hover {
    background-color: grey;

}

.button-con:active {
    background-color: orange;
    transition-duration: 2s;
    transform: scale(1.5);
    color: grey;
}

footer {
    position: bottom;
    height: 10vh;
    width: 100%;
    background-color: rgb(197, 157, 82);
    display: flex;
    flex-direction: row;
}

.foot-text {
    color: black;
    animation: none;
    transition-duration: 3s;
}

.foot-text:hover {
    animation: rota linear infinite 2s;
}

@keyframes rota {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}