* {
     box-sizing: border-box;
     font-family: Arial;

 }

 body {
     margin: 0;
     padding: 0;
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: background 0.3 ease, color 0.3s ease;
     background-color: #f5f5f5;
     font-family: Arial, Helvetica, sans-serif;
     color: #060404;



 }


 body.dark {
     background: #121212;
     color: #ccc;

 }

 body.dark .toggle-card {
     background: rgba(20, 20, 20, 0.9);
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0, 7);
 }

 .toggle-card {
     text-align: center;
     padding: 20px 3px;
     background: rgba(255, 255, 255, 0.9);
     text-align: center;
     border-color: black;
     border-radius: 12px;
     box-shadow: 0px 4px 18px rgba(4, 4, 4, 0.2);
 }

 button {
     margin: 10px;
     padding: 10px 20px;
     font-size: 14px;
     cursor: pointer;
     border: none;
     border-radius: 6px;
     font: size 14%;
     transition: transform 0.3s ease;

 }

 button:hover {
     transform: translateY(-2px);
 }

 .lig-but {
     background: #fff;
     border: 1px solid #ccc;
 }

 .dar-but {
     background: #020101;
     color: #fff;
 }

 .button-grp {
     display: flex;
     justify-content: center;
 }